


div#content {
  display: flex;
  flex-wrap: wrap;
}

div#block-grkeripatvirowm {
  width: 40%;
}
div#block-ejanshan-views-block-slider-view-block-1 {
  width: 40%;
}


.views_slideshow_cycle_teaser_section{
  max-width: 450px !important;
  div{
    width: 100% !important;
  }
}
