.field.field--name-field-icon-link.field--type-entity-reference-revisions.field--label-above {
  .field__label {
    display: none;
  }

  .field__items {
    position: sticky;
    top: 200px;
  }
}


.social-icon {
  font-size: 30px;
}

.social-bar__inner {
  .rotate {
    transform: rotate(360deg) translateX(-50%);
  }
}

.social-bar__inner.fixable {
  position: sticky;
  top: 200px;
}


@media screen and (max-width: 1201px) {

  .social-bar__inner {
    .rotate {
      transform: rotate(90deg);
    }

    .field__items {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    .field__item {
      transform: rotate(270deg);

    }
  }
}

